# virtualenv
venv

# jupyter notebook checkpoints
.ipynb_checkpoints/

.DS_Store

# node
**/node_modules

# ides
.vscode

# converted spreadsheets
hca2scea-backend/spreadsheets/

# frontend cache
**/.cache

# dists
**/dist
**/public

# python
**/__pycache__

# Logs
*.log
