# virtualenv
venv/
.venv/

# jupyter notebook checkpoints
.ipynb_checkpoints/

.DS_Store

# node
**/node_modules

# ides
.vscode


# frontend cache
**/.cache

# dists
.eggs/
*.egg-info/
**/dist
hca2scea-frontend/public

# python
**/__pycache__

# Logs
*.log

output/

.idea/

build
